# DS Store
**/.DS_Store
**/DEBUG

# compilation files
**/*.pyc
**/*.csv
**/*.txt

# Data
**/*.mid

# Test files
**/test.py

# HTML
**/*.html

# Needleman binaries
acidano/data_processing/utils/Needleman/need
acidano/data_processing/utils/Needleman/need.dSYM/
acidano/data_processing/utils/Needleman/build/
acidano/data_processing/utils/needleman_chord.so
